#story {
	height: 100vh;
	background-image: url('../../images/storyBackground1.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;

}
.story-container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	padding-top: 20px;
}

.story-container__title {
	margin-top: 50px;
	padding-bottom: 20px;
	color: #FDD1D1;
	font-size: 70px;
	text-align: center;
}

.story-container__elements {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.story-container__text {
	margin-left: 20px;
	padding-top: 20px;
	font-size: 40px;
	color: #FDD1D1;
	text-align: center;
}

.story-container__image {
	padding-top: 20px;
	width: 20vw;
	height: 20vw;
}
.story-container__btn {
	margin: 10px;
	padding: 15px 20px 10px;
	font-size: 32px;
	font-family: inherit;
	background-color: #FDD1D1;
	color: #00213f;
	border: none;
	border-radius: 15px;
	text-transform: uppercase;
	cursor: pointer;
	transition: all linear 0.2s;
}

.story-container__btn:hover {
	box-shadow: 0 0 10px #FDD1D1;
}


@media (max-width: 768px) and (min-height: 500px){
	.story-container__title {
		font-size: 32px;
	}
	.story-container__image {
		width: 40vw;
		height: 40vw;
	}
	.story-container__btn {
		font-size: 20px;
	}
	.story-container__text {
		font-size: 20px;
	}
}