* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #00213F;
}

.animation, .animationLayer {
	height: 100vh;
  width: 100vw;
}

.animation {
  display: block;
}

.animationLayer {
  background-position: top center;
	background-size: contain;
	background-repeat: no-repeat;
}

#background {
  background-image: url('./images/Full.png');
}
#dog {
  background-image: url('./images/Fiora.png');
}
#title {
  background-image: url('./images/Fiorkathedoggo.png');
}
#mountains {
  background-image: url('./images/Mountains.png');
}
